{% extends 'base.html' %}

{% block title %}Hit Leaders Yesterday - Fantasy Baseball League{% endblock %}

{% block content %}
<div class="container mt-4">
    <p class="lead">Stats as of {{ date.strftime('%B %d, %Y') }}</p>

    <div class="card">
        <div class="card-header bg-primary text-white">
            <h2 class="h4 mb-0">Hitter Leaders Yesterday</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover full-width-table">
                    <thead class="thead-dark">
                        <tr>
                            <th class="stats-cell team-name">BU Team</th>
                            <th class="stats-cell team-name">Player</th>
                            <th class="stats-cell">AB</th>
                            <th class="stats-cell">H</th>
                            <th class="stats-cell">2B</th>
                            <th class="stats-cell">3B</th>
                            <th class="stats-cell">HR</th>
                            <th class="stats-cell">BB</th>
                            <th class="stats-cell">HP</th>
                            <th class="stats-cell">SB</th>
                            <th class="stats-cell">CS</th>
                            <th class="stats-cell">E</th>
                            <th class="stats-cell">AVG</th>
                            <th class="stats-cell">OBP</th>
                            <th class="stats-cell">SLG</th>
                            <th class="stats-cell">OPS</th>
                            <th class="stats-cell">RC</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for player in players %}
                        <tr>
                            <th class="stats-cell team-name">{{ player.BUTeam }}</th>
                            <td class="stats-cell team-name">{{ player.clean_name }}</td>
                            <td class="stats-cell">{{ "%d"|format(player.AB|int) }}</td>
                            <td class="stats-cell">{{ "%d"|format(player.H|int) }}</td>
                            <td class="stats-cell">{{ "%d"|format(player._2B|int) }}</td>
                            <td class="stats-cell">{{ "%d"|format(player._3B|int) }}</td>
                            <td class="stats-cell">{{ "%d"|format(player.HR|int) }}</td>
                            <td class="stats-cell">{{ "%d"|format(player.BB|int) }}</td>
                            <td class="stats-cell">{{ "%d"|format(player.HP|int) }}</td>
                            <td class="stats-cell">{{ "%d"|format(player.SB|int) }}</td>
                            <td class="stats-cell">{{ "%d"|format(player.CS|int) }}</td>
                            <td class="stats-cell">{{ "%.d"|format(player.E|int) }}</td>
                            <td class="stats-cell">{{ "%.3f"|format(player.AVG|float) }}</td>
                            <td class="stats-cell">{{ "%.3f"|format(player.OBP|float) }}</td>
                            <td class="stats-cell">{{ "%.3f"|format(player.SLG|float) }}</td>
                            <td class="stats-cell">{{ "%.3f"|format(player.OPS|float) }}</td>
                            <td class="stats-cell">{{ "%.2f"|format(player.RC|float) }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}