{% extends 'base.html' %}

{% block title %}Baseball Unlimited Standings{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Baseball Unlimited Standings</h1>
    <p class="lead">Standings as of {{ date.strftime('%B %d, %Y') }}</p>

    <div class="card w-75">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>Team</th>
                                <th>RC</th>
                                <th>RA</th>
                                <th>Win %</th>
                                <th>Wins</th>
                                <th>Losses</th>
                                <th>Games Back</th>
                                <th>Last 6 W</th>
                                <th>Last 6 L</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for team in teams %}
                            <tr>
                                <td>{{ team.BUTeam }}</td>
                                <td>{{ "%.2f"|format(team.RC|float) }}</td>
                                <td>{{ "%.2f"|format(team.RA|float) }}</td>
                                <td>{{ "%.3f"|format(team.WP|float) }}</td>
                                <td>{{ "%.2f"|format(team.Wins|float) }}</td>
                                <td>{{ "%.2f"|format(team.Losses|float) }}</td>
                                <td>{{ "%.2f"|format(team.GamesBack|float) }}</td>
                                <td>{{ "%.2f"|format(team.Last6W|float) }}</td>
                                <td>{{ "%.2f"|format(team.Last6L|float) }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}