{% extends 'base.html' %}

{% block title %}Team Stats - Fantasy Baseball League{% endblock %}

{% block content %}
<div class="container mt-4">
    <p class="lead">Stats as of {{ date.strftime('%B %d, %Y') }}</p>

    <div class="card mb-5">
        <div class="card-header bg-primary text-white">
            <h2 class="h4 mb-0">Hitter Stats</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover full-width-table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Team</th>
                            <th>AB</th>
                            <th>H</th>
                            <th>2B</th>
                            <th>3B</th>
                            <th>HR</th>
                            <th>BB</th>
                            <th>HP</th>
                            <th>SB</th>
                            <th>CS</th>
                            <th>E</th>
                            <th>AVG</th>
                            <th>OBP</th>
                            <th>SLG</th>
                            <th>OPS</th>
                            <th>RC</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for team in teams %}
                        <tr>
                            <td class="stats-cell team-name">{{ team.BUTeam }}</td>
                            <td class="stats-cell">{{ "%.1f"|format(team.AB|float) }}</td>
                            <td class="stats-cell">{{ "%.1f"|format(team.H|float) }}</td>
                            <td class="stats-cell">{{ "%.1f"|format(team._2B|float) }}</td>
                            <td class="stats-cell">{{ "%.1f"|format(team._3B|float) }}</td>
                            <td class="stats-cell">{{ "%.1f"|format(team.HR|float) }}</td>
                            <td class="stats-cell">{{ "%.1f"|format(team.BB|float) }}</td>
                            <td class="stats-cell">{{ "%.1f"|format(team.HP|float) }}</td>
                            <td class="stats-cell">{{ "%.1f"|format(team.SB|float) }}</td>
                            <td class="stats-cell">{{ "%.1f"|format(team.CS|float) }}</td>
                            <td class="stats-cell">{{ "%.1f"|format(team.E|float) }}</td>
                            <td class="stats-cell">{{ "%.3f"|format(team.AVG|float) }}</td>
                            <td class="stats-cell">{{ "%.3f"|format(team.OBP|float) }}</td>
                            <td class="stats-cell">{{ "%.3f"|format(team.SLG|float) }}</td>
                            <td class="stats-cell">{{ "%.3f"|format(team.OPS|float) }}</td>
                            <td class="stats-cell">{{ "%.2f"|format(team.RC|float) }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

     <!-- Pitcher Stats Table -->
    <div class="card mb-5">
        <div class="card-header bg-primary text-white">
            <h2 class="h4 mb-0">Pitcher Stats</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover full-width-table">
                    <thead class="thead-dark">
                        <tr>
                            <th class="pitcher-stats-cell team-name">Team</th>
                            <th class="pitcher-stats-cell">APP</th>
                            <th class="pitcher-stats-cell">GS</th>
                            <th class="pitcher-stats-cell">QS</th>
                            <th class="pitcher-stats-cell">INN</th>
                            <th class="pitcher-stats-cell">ER</th>
                            <th class="pitcher-stats-cell">ERA</th>
                            <th class="pitcher-stats-cell">W</th>
                            <th class="pitcher-stats-cell">L</th>
                            <th class="pitcher-stats-cell">S</th>
                            <th class="pitcher-stats-cell">HA</th>
                            <th class="pitcher-stats-cell">K</th>
                            <th class="pitcher-stats-cell">BBI</th>
                            <th class="pitcher-stats-cell">BB9</th>
                            <th class="pitcher-stats-cell">K9</th>
                            <th class="pitcher-stats-cell">WHIP</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for team in teams %}
                        <tr>
                            <td class="pitcher-stats-cell team-name">{{ team.BUTeam }}</td>
                            <td class="pitcher-stats-cell">{{ "%.1f"|format(team.APP|float) }}</td>
                            <td class="pitcher-stats-cell">{{ "%.1f"|format(team.GS|float) }}</td>
                            <td class="pitcher-stats-cell">{{ "%.1f"|format(team.QS|float) }}</td>
                            <td class="pitcher-stats-cell">{{ "%.1f"|format(team.INN|float) }}</td>
                            <td class="pitcher-stats-cell">{{ "%.1f"|format(team.ER|float) }}</td>
                            <td class="pitcher-stats-cell">{{ "%.2f"|format(team.ERA|float) }}</td>
                            <td class="pitcher-stats-cell">{{ "%.1f"|format(team.W|float) }}</td>
                            <td class="pitcher-stats-cell">{{ "%.1f"|format(team.L|float) }}</td>
                            <td class="pitcher-stats-cell">{{ "%.1f"|format(team.S|float) }}</td>
                            <td class="pitcher-stats-cell">{{ "%.1f"|format(team.HA|float) }}</td>
                            <td class="pitcher-stats-cell">{{ "%.1f"|format(team.K|float) }}</td>
                            <td class="pitcher-stats-cell">{{ "%.1f"|format(team.BBI|float) }}</td>
                            <td class="pitcher-stats-cell">{{ "%.2f"|format(team.BB9|float) }}</td>
                            <td class="pitcher-stats-cell">{{ "%.2f"|format(team.K9|float) }}</td>
                            <td class="pitcher-stats-cell">{{ "%.3f"|format(team.WHIP|float) }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

</div>
{% endblock %}